.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background: inherit;
}

.container-fluid, .container-fluid a {
  height: 55px;
}

.container-fluid {
  background-color: white;
}

.container-fluid a {
  margin-top: 5px;
  font-size: 17px;
}

.navbar-toggle {
  margin-right: 35px;
}

.navbar-collapse {
  padding: 0 75px;
}

.active {
  border-top: 5px solid #D8F0E7;
}

.content {
  width: 100%;
  z-index: 5;
  overflow: auto;
  padding-top:55px;
  text-align: center;
}

.section-header {
  display: inline-block;
  border-top: 3px solid #D8E8F0;
  border-bottom: 3px solid #D8E8F0;
  padding: 15px 40px;
}

.largeImage {
  background-image:url(golden-gate-bridge-39929-1920x1200.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 650px;
  min-width: none;
}

.aboutMe {
}

/*portfolio*/

.portfolio {
}

.project {
  height:250px;
  background-color: gray;
  padding: 0;
  border:1px solid green;
}

.project-view {
  height: 250px;
  width: 250px;
  background-color: white;
  margin: 0 auto;
}

.image {
  position: relative;
}

.image img {
  width: 100%;
  vertical-align: top;
}

.image:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.image:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}

.image:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    /*padding:4px 10px*/;
    text-align:center;
    /*background:red;*/
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    margin-left: -15px;
}

.image:hover:after, .image:hover:before {
  opacity: 1;
}

.spacer {
  margin-left: 0%;
}

/*end portfolio*/

.contact-info-wrapper {
  width: 100%;
}

.contact-info {
  display: inline-block;
  padding: 10px 3px;
}

.glyphicon {
  font-size: 1.3em;
}

.footer, .copyright {
  height: 110px;
  width: 100%;
  text-align: center;
  background-color: #D8F0E7;
  display: flex;
  justify-content: center;
  margin-bottom:-20px;
}

.github, .linkedin {
  display: inline-block;
  width: 60px;
  height: 60px;
  align-self: center;
}

.linkedin {
  margin-left: 20px;
}

.github a {
  height: 100%;
}

.logo {
  height: 60px; 
  border-radius: 1.33em;
}

.copyright {
  height: 25px;
  margin: 0;
  /*margin-top:-20px;*/
}

.glyphicon-copyright-mark {
  font-size: 0.8em;
}

.container-fluid {
  padding: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
