/**
    (default css)
  small screen sizes
**/
* {
  margin: 0px;
  padding: 0px;
}

header {
  height: 100vh;
  width: 100%;
  background-color: blue;
}

section {
  height: 100vh;
  background-color: green;
}

.navigation-bar {
  height: 100px;
  width: 100%;
  background-color: white;
}
/**
  end small screen sizes
**/



/**
  medium screen sizes
**/
@media screen and (min-width: 480px) {
    header {
        background-color: lightgreen;
    }
}
/**
  end medium screen sizes
**/



/**
  large screen sizes
**/
@media screen and (min-width: 900px) {
  header {
    background-color: red;
  }
}
/**
  end screen sizes
**/