* {
  font-family: 'Open Sans', "sans-serif";
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background: inherit;
}

.container-fluid, .container-fluid a {
  height: 62px;
}

.container-fluid {
  background-color: white;
}

.container-fluid a {
  margin-top: 5px;
  font-size: 17px;
}

@media (max-width: 767px) {
  .navbar-header {
    outline: 1px solid #e7e7e7;
  }
}

.navbar-toggle {
  margin-right: 35px;
}

.navbar-collapse {
  padding: 0 75px;
}

a.navbar-brand.nav-name, .topnav a {
  font-size: 21px;
}

.topnav a {
  margin-right: 5px;
}

.topnav {
  -webkit-transition: background-color 0.7s;
  -moz-transition: background-color 0.7s;
  -o-transition: background-color 0.7s;
  -ms-transition: background-color 0.7s;
  transition: background-color 0.7s;
}

.topnav:hover {
  background-color: #D8F0E7;
}

.content {
  width: 100%;
  z-index: 5;
  overflow: auto;
  text-align: center;
}

.section-header {
  display: inline-block;
  border-top: 2px solid #D8E8F0;
  border-bottom: 2px solid #D8E8F0;
  padding: 15px 50px;
  font-family: "Raleway", "sans-serif";
}

.large-image {
  background-image:url(golden-gate-bridge-39929-1920x1200.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 650px;
  min-width: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .large-image {
    background-attachment: scroll;
  }
}

.large-image-text, .large-image-description, .large-image-name {
  color: white;
  text-align: center;
  transition: all 0.5s;
}

.large-image-description:hover, .large-image-name:hover {
  color: #77CAC1;
}

/*about me*/

.about-wrapper {
  padding-top: 30px;
}

/*end about me*/

.about-me-text {
  text-align: left;
  padding: 0 55px;
}

.description {
  line-height: 1.4;
}

.about-image {
  display: flex;
  justify-content: center;
}

.image-me, .image-me-overlay {
  height: 150px;
  width: 150px;
  border-radius: 4.5em;
}


.image-me {
  background-image: url("./Egan_Tamashiro.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}

.image-me-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: gray;
  opacity: 0;
  transition: all 0.65s;
  -webkit-transition: all 0.65s;
}

.image-me-overlay:hover {
  opacity: 0.25;
}

/*portfolio*/

.portfolio {
}

.project {
  height:250px;
  /*background-color: gray;*/
  padding: 20px 0 0 0;
}

.portfolio-description, .project-view {
  height: 210px;
  width: 250px;
}

.project-view {
  background-color: white;
  margin: 0 auto;
  z-index: 2;
  background-size: cover;
  position: relative;
}

.portfolio-description {
  background-color: #D8F0EF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: all 0.65s;
  -webkit-transition: all 0.65s;
  cursor: pointer;
}

.portfolio-link:hover + .portfolio-description {
  opacity: 1;
}

.portfolio-description-title {
  font-size: 22px;
}

.portfolio-description-text {
  font-size: 15px;
}

.scrutinize {
  background-image: url('./Scrutinize.png');
}

.geo-tweet {
  background-image: url('./geoTweets.png');
}

.my-paths {
  background-image: url('./MyPaths.png');
}

a.portfolio-link {
  position: relative;
  z-index: 5;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.spacer {
  margin-left: 0%;
}

/*end portfolio*/

.contact-info-wrapper {
  width: 100%;
}

a.contact-info {
  display: inline-block;
  padding: 10px 3px;
  font-size: 20px;
  text-decoration: none;
}

.glyphicon {
  font-size: 1.3em;
}

.footer, .copyright {
  height: 110px;
  width: 100%;
  text-align: center;
  background-color: #D8F0E7;
  display: flex;
  justify-content: center;
  margin-bottom:-20px;
}

.github, .linkedin {
  display: inline-block;
  width: 60px;
  height: 60px;
  align-self: center;
}

.linkedin {
  margin-left: 20px;
}

.github a {
  height: 100%;
}

.logo {
  height: 50px; 
  border-radius: 1.10em;
}

.copyright {
  height: 25px;
  margin: 0;
}

.glyphicon-copyright-mark {
  font-size: 0.8em;
}

.container-fluid {
  padding: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
